$fonts: "Times New Roman", Times, serif;
$fonts2: "Lato";
$color-1: #5a5a5a;
$color-2: #f4f4f4;
$color-3: #ed145b;



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

.jumbotron {
  position: relative;
}

/* clear  */

body {
  max-width: 2000px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  position: relative;
  width: 100%;
  height: 85vh;

  // background -- does not work here

  .navbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    right: 0;
    left: 0;
    padding: 10px 0;
  }
}
    .menu {
      margin-left: auto;
      padding: 10px;

      strong {
        color: $color-3;
      }

        li   {
        list-style-type: none;
        color: $color-2;
        font-size: 20px;
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
        }
    }
   
  .menu_title {
    text-align: center;
    color: $color-2;
    position: relative;
    top: 40%;

        p {
          font-size: 46px;
          line-height: 0.5;
          text-align: center;
          text-transform: uppercase;
        }

        .line {
          width: 200px;
          height: 2px;
          background-color: $color-3;
          border: none;
          margin-top: 30px;
          margin-bottom: 30px;
        } 
          strong {
            color: $color-3;
          }
            li {
              font-size: 17px;
              line-height: 1.8;
              text-align: center;
              list-style-type: none;
            }
  }

  .menu_button {
      position: absolute;
      top: 67%;
      left: 44%;
      width: 200px;
      height: 50px;
      color: $color-2;
      border-radius: 24px;
      background-color: $color-3;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: bold;
      outline-style: none;
  }
  // The end section header / main
  
  .about {
    background-color: $color-2;
    color: $color-1;

      .about__ {
        display: flex;
        flex: 0.75;
        max-width: 600px;
      }

      h1 {
        display: flex;
				padding: 120px 0 10px 0;
				flex-direction: column;
        font-size: 40px;
        
      }

      .line {
        width: 200px;
        height: 2px;
        background-color: $color-3;
        border: none;
        margin: 20px 0;
      }      
      p {
        font-size: 15px;
        max-width: 500px;
        line-height: 1.6;
      }
    
        .video {
          display: flex;
          flex-direction: row;
          padding: 23px 0 70px 0;

            p {
              font-size: 18px;
              text-transform: uppercase;
              color: $color-3;
              font-weight: bold;
            }

            img {
              padding-left: 10px;
              cursor: pointer;
            }
        }
        .mcbookimage {
          display: flex;
          flex: 1;
          margin: 100px 40px 0 40px;

          .mcbookimage--img {
            display: flex;
            position: absolute;

            img {
              width: 100%;
              height: 100%;

            }
          }  
        }
  }

  // The end section about

.our_services--title_subtitle {
  display: flex;
  flex-direction: column;
  color: $color-1;
  align-items: center;
  padding-top: 200px;

    h1 {
      font-size: 30px;
    }
      .line {
        width: 200px;
        height: 2px;
        background-color: $color-3;
        border: none;
        margin: 20px 0;
      }
        p {
          max-width: 700px;
          line-height: 1.6;
          text-align: center;
        }
}

.our_services--img {
  display: flex;
  flex-direction: row;
  justify-content: center;

    img {
      padding: 80px 80px 30px 80px;
    }
      p {
        color: $color-3;
        text-transform: uppercase;
        padding: 0 0 80px 80px;
        font-weight: bold;
      }
}

// The end section our services

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

    .quote-top {
      color: $color-3;
      position: absolute;
      top: 10%;
      font-size: 60px;
      left: 49%;
    }
    .quote-bottom {
      color: $color-3;
      position: absolute;
      top: 65%;
      font-size: 60px;
      left: 49%;
    }
      p {
        color: $color-2;
        font-size: 25px;
        position: absolute;
        top: 35%;
        left: 30%;
        max-width: 700px;
      }
        img {
          width: 100%;
        }
    }

    // The end carousel

.section__prices {
  background-color: $color-2;
    
  .section__prices--top {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .prices {
      padding: 150px 0 75px 0; 
      display: flex; 
      align-items: center; 
      justify-content: center; 
      flex-direction: column;
      color: $color-1;


        .line {
          width: 200px;
          height: 2px;
          background-color: $color-3;
          border: none;
          margin: 20px 0;
        }

          p {
            max-width: 900px;
            text-align: center;
          }
    }
  }
}
// top prices

.prices__all {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
  .prices__all--item {
    display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;
			flex-wrap: wrap;
			width: 250px;
			height: 460px;
			margin: 0 12px 0 12px;
			background-color: #FFF;

      .prices__inside--btn {
        width: 160px;
        height: 50px;
        border-radius: 15px;
        text-align: center;
      }

        .btn--top {
          background-color: $color-2;
          margin-top: -25px;
          text-align: center;
          padding-top: 13px;
        }
            .btn--bottom {
              background-color: $color-3;
              border: none;
         
            }
         
    }

    .prices__all--top-inside {
      background-color: $color-1;
      color: $color-2;
      width: 250px;
      height: 130px;
      text-align: center;
      padding: 5px;
    
        h1 {
          font-size: 20px;
      }
      
          strong {
            font-size: 40px;
            padding-left: 5px;
          }
              p {
                font-size: 18px;
              }
  }
  
  .prices__all--top-inside:hover {
    background-color:$color-3;
    cursor: pointer;
    transition-duration: 0.7s;
  }

  .prices__inside--condition {
    width: 200px;
    height: 300px;
    background-color: white;
    text-align: center;
    color: $color-1;
    padding-top: 35px;
    line-height: 1.6;
  }
}



 