html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.jumbotron {
  position: relative;
}

/* clear  */
body {
  max-width: 2000px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: relative;
  width: 100%;
  height: 85vh;
}

header .navbar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  right: 0;
  left: 0;
  padding: 10px 0;
}

.menu {
  margin-left: auto;
  padding: 10px;
}

.menu strong {
  color: #ed145b;
}

.menu li {
  list-style-type: none;
  color: #f4f4f4;
  font-size: 20px;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.menu_title {
  text-align: center;
  color: #f4f4f4;
  position: relative;
  top: 40%;
}

.menu_title p {
  font-size: 46px;
  line-height: 0.5;
  text-align: center;
  text-transform: uppercase;
}

.menu_title .line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu_title strong {
  color: #ed145b;
}

.menu_title li {
  font-size: 17px;
  line-height: 1.8;
  text-align: center;
  list-style-type: none;
}

.menu_button {
  position: absolute;
  top: 67%;
  left: 44%;
  width: 200px;
  height: 50px;
  color: #f4f4f4;
  border-radius: 24px;
  background-color: #ed145b;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  outline-style: none;
}

.about {
  background-color: #f4f4f4;
  color: #5a5a5a;
}

.about .about__ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.75;
      -ms-flex: 0.75;
          flex: 0.75;
  max-width: 600px;
}

.about h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 40px;
}

.about .line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  border: none;
  margin: 20px 0;
}

.about p {
  font-size: 15px;
  max-width: 500px;
  line-height: 1.6;
}

.about .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 23px 0 70px 0;
}

.about .video p {
  font-size: 18px;
  text-transform: uppercase;
  color: #ed145b;
  font-weight: bold;
}

.about .video img {
  padding-left: 10px;
  cursor: pointer;
}

.about .mcbookimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 100px 40px 0 40px;
}

.about .mcbookimage .mcbookimage--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.about .mcbookimage .mcbookimage--img img {
  width: 100%;
  height: 100%;
}

.our_services--title_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #5a5a5a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
}

.our_services--title_subtitle h1 {
  font-size: 30px;
}

.our_services--title_subtitle .line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  border: none;
  margin: 20px 0;
}

.our_services--title_subtitle p {
  max-width: 700px;
  line-height: 1.6;
  text-align: center;
}

.our_services--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our_services--img img {
  padding: 80px 80px 30px 80px;
}

.our_services--img p {
  color: #ed145b;
  text-transform: uppercase;
  padding: 0 0 80px 80px;
  font-weight: bold;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.item .quote-top {
  color: #ed145b;
  position: absolute;
  top: 10%;
  font-size: 60px;
  left: 49%;
}

.item .quote-bottom {
  color: #ed145b;
  position: absolute;
  top: 65%;
  font-size: 60px;
  left: 49%;
}

.item p {
  color: #f4f4f4;
  font-size: 25px;
  position: absolute;
  top: 35%;
  left: 30%;
  max-width: 700px;
}

.item img {
  width: 100%;
}

.section__prices {
  background-color: #f4f4f4;
}

.section__prices .section__prices--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__prices .section__prices--top .prices {
  padding: 150px 0 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #5a5a5a;
}

.section__prices .section__prices--top .prices .line {
  width: 200px;
  height: 2px;
  background-color: #ed145b;
  border: none;
  margin: 20px 0;
}

.section__prices .section__prices--top .prices p {
  max-width: 900px;
  text-align: center;
}

.prices__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 100px;
}

.prices__all .prices__all--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: 460px;
  margin: 0 12px 0 12px;
  background-color: #FFF;
  padding-bottom: 30px;
}

.prices__all .prices__all--item .prices__inside--btn {
  width: 160px;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
}

.prices__all .prices__all--item .btn--top {
  background-color: #f4f4f4;
  margin-top: -25px;
  padding: 10px;
}

.prices__all .prices__all--item .btn--bottom {
  background-color: #ed145b;
  border: none;
  color: #FFF;
}

.prices__all .prices__all--top-inside {
  background-color: #5a5a5a;
  color: #f4f4f4;
  width: 250px;
  height: 130px;
  text-align: center;
  padding: 5px;
}

.prices__all .prices__all--top-inside h1 {
  font-size: 20px;
}

.prices__all .prices__all--top-inside strong {
  font-size: 40px;
  padding-left: 5px;
}

.prices__all .prices__all--top-inside p {
  font-size: 18px;
}

.prices__all .prices__all--top-inside:hover {
  background-color: #ed145b;
  cursor: pointer;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.prices__all .prices__inside--condition {
  width: 200px;
  height: 300px;
  background-color: white;
  text-align: center;
  color: #5a5a5a;
  padding-top: 35px;
  line-height: 1.6;
}

.additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 80px;
}

.additional .additional__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 360px;
  padding: 45px 15px 45px 15px;
}

.additional .additional__box .additional__box--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 40px;
  color: #ed145b;
  padding-right: 25px;
}

.additional .additional__box .additional__box--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.additional .additional__box .additional__box--text p {
  font-size: 15px;
  padding-bottom: 15px;
}

.additional .additional__box .additional__box--text p:first-child {
  color: #ed145b;
  text-transform: uppercase;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */